<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400; 0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    #form{
        
        text-align: center;
    }
</style>
<body>

 <h1>datas</h1>
 <table border="black">
    <div id="form">
    

        <tr bgcolor="grey">
             <th>firstname</th>
             <th>lastname</th>
             <th>email</th>
             <th>country</th>
             <th>number</th>
             <th>address</th>
             <th>street</th>
             <th>city</th>
             <th>state</th>
             <th>code</th>
        </tr>
     
         <tr>
        
        <% user.map((ff)=>{ %>
            <td><%= ff.firstname %></td>
            <td><%= ff.lastname %></td>
            <td><%= ff.email %></td>
            <td><%= ff.country %></td>
            <td><%= ff.number %></td>
            <td><%= ff.address %></td>
            <td><%= ff.street %></td>
            <td><%= ff.city %></td>
            <td><%= ff.state %></td>
            <td><%= ff.code %></td>
      <%   }) %>
    </tr>

    </div>
 </table>


</body>
</html>